<!-- <mat-progress-bar mode="Indeterminate" *ngIf="attendanceList.length <= 0"></mat-progress-bar> -->
<div class="container">
    <div style="text-align: center; margin-top: 10px">
        <div *ngIf="!isLoaded" class="spinner-border"></div>
    </div>
    <table class="table table-striped" *ngIf="isLoaded">
        <thead>
            <th>Symbol Number</th>
            <th>Attendance Date</th>
            <th>Is Present</th>
        </thead>
        <tbody>
            <tr *ngFor="let attendance of attendanceList">
                <td>{{ attendance.symbolNumber}}</td>
                <td>{{ attendance.attendanceDate}}</td>
                <td>{{ attendance.isPresent}}</td>
                <td>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Attendance</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure to delete attendance for student with symbol number:
                                    {{attendance.symbolNumber}}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                        (click)="deleteAttendance(attendance.symbolNumber)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" title="Delete Attendance" data-toggle="modal"
                        data-target="#deleteModal" data-delete="attendance.symbolNumber" width="24" height="24"
                        viewBox="0 0 24 24" style="cursor: pointer">
                        <path
                            d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
                    </svg>
                </td>
            </tr>
            <tr *ngIf="attendanceList.length == 0">
                <td colspan="5" style="text-align: center">Not Available</td>
            </tr>
        </tbody>
    </table>
</div>
<div [hidden]="true" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="Symbol Number">
            <th mat-header-cell *matHeaderCellDef>Symbol Number </th>
            <td mat-cell *matCellDef="let element"> {{element.symbolNumber}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Attendance Date">
            <th mat-header-cell *matHeaderCellDef> Attendance Date </th>
            <td mat-cell *matCellDef="let element"> {{element.attendanceDate}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Is Present">
            <th mat-header-cell *matHeaderCellDef> Is Present </th>
            <td mat-cell *matCellDef="let element"> {{element.isPresent}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            <!-- <td>{{ attendance.symbolNumber}}</td>
            <td>{{ attendance.attendanceDate}}</td>
            <td>{{ attendance.isPresent}}</td> -->
        </tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
</div>