<div class="container">
    <h5 style="text-align:center">Search Student</h5>
    <form #form='ngForm' ngNativeValidate (ngSubmit)='searchUser(form.value)'>
        <div class="form-group">
            <input type="number" class="form-control" [(ngModel)]="symbolNumber" name="symbolNumber"
                placeholder="Enter Symbol Number" required />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Search User</button>
        </div>
    </form>
    <div style="text-align: center">
        <div style="text-align: center" *ngIf="!isLoaded" class="spinner-border"></div>
    </div>
    <table class="table table-striped" *ngIf="user && user.symbolNumber > 0">
        <thead>
            <th>Symbol Number</th>
            <th>Full Name</th>
            <th>email</th>
            <th>Phone Number</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.symbolNumber }}</td>
                <td>{{ user.fullName}}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phoneNo }}</td>
            </tr>
        </tbody>
    </table>
</div>