<div class="container">
    <div style="text-align: center; margin-top: 10px">
        <div *ngIf="!isLoaded" class="spinner-border"></div>
    </div>
    <form #myForm='ngForm' *ngIf="user && user.symbolNumber > 0" ngNativeValidate (ngSubmit)='updateUser(form.value)'>
        <div class="form-group">
            <label for="symbolNumber">Symbol Number</label>
            <input type="number" min="1" class="form-control" disabled class="form-control" [(ngModel)]="user.symbolNumber" name="symbolNumber" />
        </div>
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" [(ngModel)]="user.fullName" name="fullName" (ngModelChange)="isUpdated()"
                placeholder="Enter Full Name" required />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" [(ngModel)]="user.email" name="email" placeholder="Enter Email" (ngModelChange)="isUpdated()"
                required />
        </div>
        <div class="form-group">
                <label for="phoneNo">Phone Number</label>
            <input type="number" class="form-control"  min=9111111111 max=9900000000 [(ngModel)]="user.phoneNo" name="phoneNo" (ngModelChange)="isUpdated()"
                placeholder="Enter Phone Number" required />
        </div>
        <div class="form-group" title="first update the user record to apply update">
            <button type="submit" [disabled]="!isModified" class="btn btn-primary">Update User</button>
        </div>
    </form>
</div>