<div class="container">
    <div style="text-align: center; margin-top: 10px">
        <div *ngIf="!isLoaded" class="spinner-border"></div>
    </div>
    <form #form='ngForm' ngNativeValidate (ngSubmit)='addUser(form.value)'>
        <div class="form-group">
            <div [hidden]="!isValidUserInformation" class="alert alert-danger">Invalid Symbol Number</div>
            <div [hidden]="!isTaken" class="alert alert-danger">Symbol Number Taken, Try Another</div>
            <input type="number" min="1" class="form-control" [(ngModel)]="symbolNumber" name="symbolNumber" (ngModelChange)="isSymbolNumberTaken(form.value)"
                placeholder="Enter Symbol Number" required />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="fullName" name="fullName" placeholder="Enter Full Name"
                required />
        </div>
        <div class="form-group">
            <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Enter Email"
                required />
        </div>
        <div class="form-group">
            <input type="number" min=9111111111 max="9900000000" class="form-control" class="form-control" [(ngModel)]="phoneNo" name="phoneNo"
                placeholder="Enter Phone Number" required />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add Student</button>
        </div>
    </form>
</div>