<div class="container">
  <h2 style="text-align: center">Smart Attendance System</h2>
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" [routerLink]="['']">Show Attendance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" [routerLink]="['/search-attendance']">Search Attendance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" [routerLink]="['/show-user']">Show Student</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" [routerLink]="['/add-user']">Add Student</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" [routerLink]="['/search-user']">Search Student</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" [routerLink]="['/delete-user']">Delete Student</a>
    </li>
  </ul>
</div>
<!-- Content -->
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="footer">
  Love Smart Attendance System?
  <a href="https://github.com/office-github/angular_app_calling_webapi_dotnet_core" target="_blank" rel="noopener">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2" />
      <path d="M0 0h24v24H0z" fill="none" /></svg>
    Please Provide Feedback
  </a>
</footer>