<div class="container">
    <h5 style="text-align:center">Delete Student</h5>
    <div style="text-align: center">
        <div style="text-align: center" *ngIf="!isLoaded" class="spinner-border"></div>
    </div>
    <form #form='ngForm' ngNativeValidate (ngSubmit)='deleteUser(form.value)'>
        <div class="form-group">
            <input type="number" class="form-control" [(ngModel)]="symbolNumber" name="symbolNumber"
                placeholder="Enter Symbol Number" required />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Delete User</button>
        </div>
    </form>
</div>