<div class="container">
    <div style="text-align: center; margin-top: 10px">
        <div *ngIf="!isLoaded" class="spinner-border"></div>
    </div>
    <form #form='ngForm' ngNativeValidate (ngSubmit)='deleteUser(form.value)'>
        <div class="form-group">
            <input type="number" min="1" class="form-control" [(ngModel)]="symbolNumber" name="symbolNumber"
                placeholder="Enter Symbol Number" required />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Delete User</button>
        </div>
    </form>
</div>