<div class="container">
    <form #form='ngForm' ngNativeValidate (ngSubmit)='searchAttendance(form.value)'>
        <div class="form-group">
            <input type="number" min="1" class="form-control" [(ngModel)]="symbolNumber" name="symbolNumber"
                placeholder="Enter Symbol Number" required />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Search Attendance</button>
        </div>
    </form>

    <div style="text-align: center; margin-top: 10px">
        <div *ngIf="!isLoaded" class="spinner-border"></div>
    </div>

    <table class="table table-striped" *ngIf="isAttendance && isLoaded">
        <thead>
            <th>Symbol Number</th>
            <th>Attendance Date</th>
            <th>Is Present</th>
        </thead>
        <tbody>
            <tr *ngFor="let attendance of attendanceList">
                <td>{{ attendance.symbolNumber}}</td>
                <td>{{ attendance.attendanceDate}}</td>
                <td>{{ attendance.isPresent}}</td>
            </tr>
            <tr *ngIf="attendanceList.length == 0">
                <td></td>
                <td>Not Available</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>