<div class="container">
    <h5 style="text-align:center">Search Attendance</h5>
    <form #form='ngForm' ngNativeValidate (ngSubmit)='searchAttendance(form.value)'>
        <div class="form-group">
            <input type="number" class="form-control" [(ngModel)]="symbolNumber" name="symbolNumber"
                placeholder="Enter Symbol Number" required />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Search Attendance</button>
        </div>
    </form>

    <div style="text-align: center">
        <div style="text-align: center" *ngIf="!isLoaded" class="spinner-border"></div>
    </div>

    <table class="table table-striped" *ngIf="attendance">
        <thead>
            <th>Symbol Number</th>
            <th>Attendance Date</th>
            <th>Is Present</th>
        </thead>
        <tbody>
            <tr *ngFor="let attendance of attendanceList">
                <td>{{ attendance.symbolNumber}}</td>
                <td>{{ attendance.attendanceDate}}</td>
                <td>{{ attendance.isPresent}}</td>
            </tr>
        </tbody>
    </table>
</div>