<div class="container">
    <div style="text-align: center; margin-top: 10px">
        <div *ngIf="!isLoaded" class="spinner-border"></div>
    </div>
    <table class="table table-striped" *ngIf="isLoaded">
        <thead>
            <th>Symbol Number</th>
            <th>Full Name</th>
            <th>email</th>
            <th>Phone Number</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.symbolNumber }}</td>
                <td>{{ user.fullName}}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phoneNo }}</td>
                <td>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Student</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure to delete student with symbol number: {{user.symbolNumber}}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                        (click)="deleteUser(user.symbolNumber)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" title="Delete User" data-toggle="modal"
                        data-target="#deleteModal" data-delete="user.symbolNumber" width="24" height="24"
                        viewBox="0 0 24 24" style="cursor: pointer">
                        <path
                            d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" title="Edit User" style="cursor: pointer; margin-left: 5px"
                        routerLink='/update-user/{{user.symbolNumber}}' width="18" height="18" viewBox="0 0 18 18">
                        <path
                            d="M2 12.88V16h3.12L14 7.12 10.88 4 2 12.88zm14.76-8.51c.33-.33.33-.85 0-1.18l-1.95-1.95c-.33-.33-.85-.33-1.18 0L12 2.88 15.12 6l1.64-1.63z" />
                    </svg>
                </td>
            </tr>
            <tr *ngIf="users.length == 0">
                <td colspan="5" style="text-align: center">Not Available</td>
            </tr>
        </tbody>
    </table>
</div>